.clip-collection {
    display: inline-block;
    width: 100%;
    margin: 8px 0;
    box-shadow: -0.4px 1.6px 2px 0 rgba(240, 240, 232, 0.3);
    background-color: rgb(6,8,12);
    text-align: center;
    flex: 1 0 auto;
    font-size: 16px;
    padding: 16px;
}

.clip-collection h3 {
    cursor: pointer;
    font-weight: normal;
    padding: 8px 0;
    margin: 0;
}

.clip-collection ul {
    text-align: left;
    padding: 0;
    margin: 0;
    overflow: hidden;
    transition: max-height .75s ease;
}

.clip-collection ul li {
    list-style: none;
}

.clip-collection ul li a {
    color: #ccc;
    padding: .5rem 0;
    display: inline-block;
}