

.player-page h1 {
    margin-top: 4rem;
}

#video-player {
    margin: 3.5rem auto 1rem;
}

#video-player .vjs-big-play-button {
    left: 50%;
    transform: translateX(-50%);
}

.media-container {
    margin: 0 auto;
}

.player-page .tv-screen {
    position: relative;
    display: inline-block;
}

.player-page .nav-icon {
    position: absolute;
    top: 50%;
    fill: #ccc;
    cursor: pointer;
}

.player-page .prev-icon {
    left: 12px;
    transform: translateY(-50%) translateX(100%) scale(5);
}

.player-page .next-icon {
    right: 12px;
    transform: translateY(-50%) translateX(-100%) scale(5);
}

video:focus {
    outline: none;
}

@media (max-width: 768px) {
    .player-page .nav-icon {
        top: unset; 
        position: unset;
    }

    .player-page .nav-icon-container {
        display: flex; 
        justify-content: space-around;
        margin-top: 42px;
    }
}