.vjs-progress-control {
    /* visibility: hidden; */
}

.video-js .vjs-duration, .vjs-no-flex .vjs-duration {
    display: inline-block !important;
}

.player-page h1 {
    margin-top: 4rem;
}

#video-player {
    margin: 4rem auto;
}

#video-player .vjs-big-play-button {
    left: 50%;
    transform: translateX(-50%);
}